# GENERAL PURPOSE
NODE_ENV=<development || production>
PORT=4000
SERVER_URL_DEV=http://localhost:4000
SERVER_URL_PROD=<your-production-url>
CLIENT_URL_DEV=http://localhost:3000
CLIENT_URL_PROD=<your-production-url>

# STORAGE
MAX_STORAGE_SIZE=1073741824 # maximum storage per user in bytes
MAX_FILE_SIZE=104857600 # maximum size of a file

# DATABASE CONNECTIONS
DB_URL=<mongodb-url>
REDIS_HOST=<redis-1234.abcd1234.region.cloud.redislabs.com>
REDIS_PASSWORD=<password>
REDIS_PORT=<port>

# SECRETS
COOKIE_SECRET=<secret-string>

# EMAIL SERVICE
GMAIL_USER=<email>
GMAIL_APP_PASSWORD=<google-app-password>

# SESSION
SESSION_MAX_AGE=604800000 # 7days
COOKIE_NAME=<cookie-name>

# GOOGLE OAUTH
GOOGLE_CLIENT_ID=<123456789-qwerty123456.apps.googleusercontent.com>

# AWS S3 STORAGE
AWS_ACCESS_KEY_ID=<aws-access-key-id>
AWS_SECRET_KEY=<aws-secret-key>
AWS_S3_BUCKET=<bucket-name>
AWS_S3_REGION=<bucket-region>